include pug/libs/_libs

doctype html
html(lang='en')
  include pug/_head
  
  body
    .container
      h1 Hello!!! PUG
      p One morehkjk ngfjxt
      +image('pug include')

      +image2('pug2 include')

      
      img.svg-img
      
      div.svg
